.border-custom {
    border: 4px solid #c3d234; /* Warna kuning kehijauan seperti di gambar */
    border-radius: 10px;
    overflow: hidden; /* Mencegah gambar keluar dari border */
}

.banner img, .banner-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    height: 248px; /* Sesuaikan dengan tinggi banner utama */
}

.banner-small {
    height: 120px; /* Setengah dari banner utama */
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.kategori .card:hover {
  background-color: #383d1f;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
